@page
@model ParkNetApp.Pages.MovementAndBilling.BillingViewModel

@{
    ViewData["Title"] = "BillingView";
}

<h1>Billing</h1>

<form method="get">
    <label for="typeFilter">Filter by Transaction Type:</label><br>
    <select id="typeFilter" name="typeFilter" asp-for="SelectedTypeFilter" asp-items="Model.TransTypesOptions">
        <option value="">Choose a transaction type </option>
    </select>
    <br><br>

    <label for="startDate">Start Date:</label><br>
    <input type="date" id="startDate" name="startDate" asp-for="SelectedStartDate" />
    <br><br>

    <label for="endDate">End Date:</label><br>
    <input type="date" id="endDate" name="endDate" asp-for="SelectedEndDate" />
    <br><br>

    <button type="submit">Filter</button>
</form>

<br><br>
<p><strong>BILLING: @Model.BillingWithinDateRange.ToString("C2")</strong></p>
