@page
@model ParkNetApp.Pages.ParkingLotView.CreateModel

@{
    ViewData["Title"] = "Create";
}
      
     <h1>Create new slots</h1>
        
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Floor</label>
                <select asp-for="Slot.FloorId" class="form-control" asp-items="Model.CurrentFloors">
                    <option value="-1">New Floor</option>
                </select>
                <span asp-validation-for="Slot.FloorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Slot Code</label>
                <input asp-for="Slot.Code" class="form-control" />
                <span asp-validation-for="Slot.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Vehicle Type</label>
                <select asp-for="Slot.SlotType" class="form-control">
                    <option value="C"selected>Car</option>
                    <option value="M">Motorcycle</option>
                </select>
                <span asp-validation-for="Slot.SlotType" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Slot.IsOccupied" value="false" />
            <input type="hidden" asp-for="CurrentParkingLotId" />
            <input type="hidden" asp-for="CurrentNumberOfFloors" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
