@page
@model ParkNetApp.Pages.ActivityHistory.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EntryAndExitHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EntryAndExitHistory.Id" />
            <div class="form-group">
                
                <label asp-for="EntryAndExitHistory.EntryAt" class="control-label"></label>
                <input asp-for="EntryAndExitHistory.EntryAt" class="form-control" />
                <span asp-validation-for="EntryAndExitHistory.EntryAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EntryAndExitHistory.ExitAt" class="control-label"></label>
                <input asp-for="EntryAndExitHistory.ExitAt" class="form-control" />
                <span asp-validation-for="EntryAndExitHistory.ExitAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EntryAndExitHistory.UserId" class="control-label"></label>
                <select asp-for="EntryAndExitHistory.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="EntryAndExitHistory.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EntryAndExitHistory.VehicleId" class="control-label"></label>
                <select asp-for="EntryAndExitHistory.VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="EntryAndExitHistory.VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EntryAndExitHistory.SlotId" class="control-label"></label>
                <select asp-for="EntryAndExitHistory.SlotId" class="form-control" asp-items="ViewBag.SlotId"></select>
                <span asp-validation-for="EntryAndExitHistory.SlotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="EntryAndExitHistory.MovementId" class="control-label"></label>
                <select asp-for="EntryAndExitHistory.MovementId" class="form-control" asp-items="ViewBag.MovementId"></select>
                <span asp-validation-for="EntryAndExitHistory.MovementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
