@page
@model ParkNetApp.Pages.ActivateAccount.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserInfo.Id" />
            <div class="form-group">
                
                <label asp-for="UserInfo.CreditCardNumb" class="control-label">Credit Card Number</label>
                <input asp-for="UserInfo.CreditCardNumb" class="form-control" />
                <span asp-validation-for="UserInfo.CreditCardNumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfo.CCExpDate" class="control-label">Valid Thru </label>
                <input asp-for="UserInfo.CCExpDate" class="form-control" />
                <span asp-validation-for="UserInfo.CCExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="UserInfo.DriverLicenseNumber" class="control-label">Driver License</label>
                <input asp-for="UserInfo.DriverLicenseNumber" class="form-control" />
                <span asp-validation-for="UserInfo.DriverLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="UserInfo.DLExpDate" class="control-label">Valid Thru</label>
                <input asp-for="UserInfo.DLExpDate" class="form-control" />
                <span asp-validation-for="UserInfo.DLExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
