html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/*

################## LAYOUT PARKING LOT ##################*/


.slot {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}
.slot a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
 }

.occupied {
    background-color: slategray;
    color: white;
}

.free {
    background-color: forestgreen;
    color: white;
}

.slot:hover {
    transform: scale(1.3);
}

.moto {
    border: 3px solid cyan; /* Adiciona uma borda roxa */
}

.car {
    border: 3px solid blue; /* Adiciona uma borda azul */
}

/*################################################################*/


h1 {
    margin: 50px 0;
   }
