@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ParkNet</h1>
    @if (Model.IsActivated)
    {
        <p>Conta <strong>ativa</strong>. ✅</p>
    }
    else
    {
        <p>Conta <strong>inativa</strong>. ❌</p>
        <a href="/ActivateAccount/Create">Activate Now</a>
    }
</div>
